<style>
    .ngRow.odd {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(212,212,212);
    }
    .ngRow.even {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(212,212,212);
    }
.vl {
  border-left: 6px solid green;
  height: 100px;
}
.text-card {
font-size:40px;
color:#17888f
font-weight:bold;
}
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}
.text-muted {
    color: black!important;
    font-size: 13px;
}

.font-13 {
    font-size: 13px!important;
}
.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-right>li {
  margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}
</style>
<div >
    <h1 style="text-align:center; font-size:25px">COVID-19 Commodities Monitoring Reports</h1>
    <hr/>
    <div class="col-md-3"> <!-- required for floating -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left sideways">
            <li class="active"><a href="#stock-status" data-toggle="tab">Commodities Stock Status</a></li>
            <li><a href="#summary" data-toggle="tab">Designated Facilities Summary Report</a></li>
            <li><a href="#inbound" data-toggle="tab">Inbound Shipments</a></li>
            <li><a href="#cases" ng-show="false" data-toggle="tab">Cases/Patients</a></li>
        </ul>
    </div>

    <div class="col-md-9">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="stock-status">
                <div class="card-content" ng-controller="EmergencyCommoditiesController">
                    <div class="row" style="float:top;background:white; padding:10px">
                        <filter-container>
                        <form>
                            <div class="form-row">
                                   <div class="form-cell horizontalFilters">
                                       <div class="col">
                                           <div>
                                               <label for="drpProduct" class="labels" ><span > Category Filters
                                               </span><span  class="label-required">*</span></label><div>
                                               <select id="drpProduct" ui-select2 class="input-large" ng-model="filter.isRegion"">
                                                   <option  value="false" ng-selected="filter.isRegion == false">Facilities</option>
                                                   <option  value="true" ng-selected="filter.isRegion == true">Regions</option>
                                               </select>
                                           </div>
                                           </div>
                                       </div>
                                       <div class="col">
                                             <covid-product-filter class="form-cell horizontalFilters"></covid-product-filter>
                                         </div>
                                       <div class="col">
                                           <label for="startDate" class="labels" >Start Date *</label>
                                           <div>
                                               <input type="date" id="startDate" ng-model="filter.startDate" ng-required="true" />
                                           </div>
                                       </div>
                                       <div class="col">
                                           <label for="endDate" class="labels" >End Date *</label>
                                           <div>
                                               <input type="date" id="endDate" ng-model="filter.endDate"  ng-required="true" />
                                           </div>
                                       </div>
                                       <div class="col">
                                           <br>
                                           <div>
                                               <span class="pull-right">
                                                   <a ng-click="stockSection(filter)" class="waves-effect waves-light btn">Search</a>
                                               </span>
                                           </div>
                                       </div>
                                   </div>

                            </div>
                        </form>
                        </filter-container>
                    </div>
                    <div class="row" style="float:top;">
                            <div id="stockAvailabilityForEmergencyCommodities"  style=" height: 300px;"></div>
                            <div id="stockAvailabilityByDesignatedHospital"  style=" height: 400px;"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="cases">
                <div class="card-content" ng-controller="EmergencyCommoditiesController">
                    <div class="row" style="float:top;background:#ffffff">
                        <div class="col-md-6">
                            <div id="cumulativePatientTrend" style="height: 400px;margin:0 auto "></div>
                        </div>
                        <div class="col-md-6">
                            <div id="patientPerRegion"  style=" height: 400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="summary" style="background:white;" ng-controller="EmergencyCommoditiesController">
                <div class="grey lighten-5 card row2-height"   >
                    <div class="row" style="float:top; padding:10px">
                        <filter-container>
                        <form>
                            <div class="form-row">
                                <div class="form-cell horizontalFilters">
                                    <div class="col">
                                        <div>
                                            <covid-facility-filter class="form-cell horizontalFilters"></covid-facility-filter>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <br>
                                        <div>
                                               <span class="pull-right">
                                                   <a ng-click="facilityReporting(filter)" class="waves-effect waves-light btn">Search</a>
                                               </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                        </filter-container>
                    </div>
                    <div  style=" padding:3px margin-top:3px" >
                        <div class="row" style="background:white;">
                            <div class="col-sm-3" >
                                <div class="card-box tilebox-one">
                                    <div class="vl col-sm-3"></div>
                                    <div class="col-sm-9" >
                                        <i class="icon-layers float-right text-muted"></i>
                                        <h6 class="text-muted text-uppercase mt-0">Items Reported</h6>
                                        <h3 class="text-card" >{{items}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3" >
                                <div class="card-box tilebox-one"><i class="icon-layers float-right text-muted"></i>
                                    <h6 class="text-muted text-uppercase mt-0"># of StockOut</h6>
                                    <h3 class="text-card">{{stockOutItems}}</h3>
                                </div>
                            </div>
                            <div class="col-sm-3" >
                                <div class="card-box tilebox-one"><i class="icon-layers float-right text-muted"></i>
                                    <h6 class="text-muted text-uppercase mt-0">Availability(%)</h6>
                                    <h3 class="text-card">{{availability || 0}}%</h3>
                                </div>
                            </div>
                            <div class="col-sm-3" >
                                <div class="card-box tilebox-one"><i class="icon-layers float-right text-muted"></i>
                                    <h6 class="text-muted text-uppercase mt-0">Reporting Compliance(%)</h6>
                                    <h3 class="text-card">100%</h3>
                                </div>
                            </div>
<!--                            <div class="col-sm-3" >-->
<!--                                <div class="card-box tilebox-one"><i class="icon-layers float-right text-muted"></i>-->
<!--                                    <h6 class="text-muted text-uppercase mt-0">Reporting Compliance(%)</h6>-->
<!--                                    <h3 class="text-card">100%</h3>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="box-icon" style="float:right; margin-right:20px"  >
                            <a id="pdf-button" href="" ng-click="exportSummaryReport(drillDownData)"
                               class='btn-small btn-info'><span >Export</span></a>
                        </div>
                    </div>
                    <div class="card-content" ng-controller="EmergencyCommoditiesController">
                    <div style="height: 600px !important;">
                        <div class="card-action" style="background-color: #17888f; ; padding:8px">
                            <span style="color:white">{{title}}</span>
                        </div>
                        <div ng-show="drillDownData.length" style="height: 550px !important;" id="ordersGrid" class="gridStyle" ng-grid="gridOptions"  ui-grid-exporter></div>
                    </div>
                </div>
            </div>
            </div>
            <div style="background:white" class="tab-pane" id="inbound" ng-controller="StockInboundController">
                <div class="row" style="float:top; padding:10px; background:white">
                    <filter-container>
                    <form>
                        <div class="form-row">
                            <div class="form-cell horizontalFilters">
                                <div class="col">
                                    <div>
                                        <covid-product-filter class="form-cell horizontalFilters"></covid-product-filter>
                                    </div>
                                </div>
                                <div class="col">
                                    <br>
                                    <div>
                                               <span class="pull-right">
                                                   <a ng-click="loadInboundReport(filter)" class="waves-effect waves-light btn">Search</a>
                                               </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    </filter-container>
                </div>
               <div><div style="margin-left:40px; margin-right:40px" id="pipeline"></div></div>
                <div class="row" style="background:white">
                    <div class="box-icon" style="float:right; margin-right:20px"  >
                        <a id="pdf-button" href="" ng-click="exportPipelineReport(pipelineData)"
                           class='btn-small btn-info'><span >Export</span></a>
                    </div>
                </div>
                <div class="card-content"  style="padding:10px; background:white;">
                    <div style="height: 600px !important;">
                        <div class="card-action" style="background-color: #17888f; padding:8px">
                            <span style="color:white; ">Inbound List</span>
                        </div>
                        <div ng-show="pipelineData.length" style="height: 550px !important;" id="pipelineGrid" class="gridStyle" ng-grid="gridPipelineOptions"  ui-grid-exporter></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

</div>

